body{
    margin:0 0 0 0;
    background-color: #EAEAEA;
    font-family:Arial, Helvetica, sans-serif;
}

.tituloh1{
    background-color: white;
    margin-top:0;
    margin-bottom: 40px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:410px;
}
.perrito1{
    width: 600px;
    margin:0 auto;
    background-color: white;
    margin-bottom: 50px;

}
.titulo{
   display:flex;
   background-color: white;
   border-bottom: 1px solid whitesmoke;
}
.titulo-foto{
    padding-left: 10px;
    width:90%;
    
}
.numero-foto{
    text-align: right;
    padding-right: 15px;    
    color:grey;
    width: 10%;
}

.foto1 img{
    width: 100%;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0;
}
.piefoto1{
    background-color: white;
    margin-top:0;
    padding:0px 10px 3px 25px;
    font-size: 18px;
    border-top: 1px solid whitesmoke;
    
}

.perrito2{
    width: 600px;
    margin:0 auto;
    background-color: white;
    margin-bottom: 50px;
}

.ordenador{
    width: 600px;
    margin:0 auto;
    background-color: white;
    margin-bottom: 50px;
}

.pasta{
    width: 600px;
    margin:0 auto;
    background-color: white;
    margin-bottom: 50px;
}
